@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-Regular.eot');
    src: url('InstrumentSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-Regular.woff2') format('woff2'),
        url('InstrumentSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-BoldItalic.eot');
    src: url('InstrumentSansSemiCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-Bold.eot');
    src: url('InstrumentSansSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-Bold.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-BoldItalic.eot');
    src: url('InstrumentSansCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-BoldItalic.woff2') format('woff2'),
        url('InstrumentSansCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-Medium.eot');
    src: url('InstrumentSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-Medium.woff2') format('woff2'),
        url('InstrumentSansCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-Italic.eot');
    src: url('InstrumentSansSemiCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-Italic.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-SemiBoldItalic.eot');
    src: url('InstrumentSansCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('InstrumentSansCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-SemiBold.eot');
    src: url('InstrumentSansCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-SemiBold.woff2') format('woff2'),
        url('InstrumentSansCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-Bold.eot');
    src: url('InstrumentSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-Bold.woff2') format('woff2'),
        url('InstrumentSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-MediumItalic.eot');
    src: url('InstrumentSansCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-MediumItalic.woff2') format('woff2'),
        url('InstrumentSansCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-Medium.eot');
    src: url('InstrumentSansSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-Medium.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('InstrumentSansCondensed-Italic.eot');
    src: url('InstrumentSansCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansCondensed-Italic.woff2') format('woff2'),
        url('InstrumentSansCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-Italic.eot');
    src: url('InstrumentSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-Italic.woff2') format('woff2'),
        url('InstrumentSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-MediumItalic.eot');
    src: url('InstrumentSansSemiCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-MediumItalic.eot');
    src: url('InstrumentSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-MediumItalic.woff2') format('woff2'),
        url('InstrumentSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-BoldItalic.eot');
    src: url('InstrumentSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-BoldItalic.woff2') format('woff2'),
        url('InstrumentSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-Bold.eot');
    src: url('InstrumentSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-Bold.woff2') format('woff2'),
        url('InstrumentSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-Regular.eot');
    src: url('InstrumentSansSemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-Regular.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-SemiBold.eot');
    src: url('InstrumentSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-SemiBold.woff2') format('woff2'),
        url('InstrumentSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-Medium.eot');
    src: url('InstrumentSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-Medium.woff2') format('woff2'),
        url('InstrumentSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-SemiBoldItalic.eot');
    src: url('InstrumentSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-SemiBoldItalic.woff2') format('woff2'),
        url('InstrumentSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('InstrumentSans-Regular.eot');
    src: url('InstrumentSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSans-Regular.woff2') format('woff2'),
        url('InstrumentSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-SemiBoldItalic.eot');
    src: url('InstrumentSansSemiCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('InstrumentSansSemiCondensed-SemiBold.eot');
    src: url('InstrumentSansSemiCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('InstrumentSansSemiCondensed-SemiBold.woff2') format('woff2'),
        url('InstrumentSansSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
